body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 使 body 的高度为视口高度 */
    background-color: #f0f0f0; /* 背景色 */
    overflow: hidden; /* 隐藏滚动条 */
}

.image-container {
    max-width: 90%; /* 设置容器的最大宽度为90% */
    max-height: 90vh; /* 设置容器的最大高度为90% */
    display: flex;
    justify-content: center; /* 居中对齐 */
    align-items: center; /* 垂直居中 */
}

.responsive-image {
    width: auto; /* 根据容器的宽度自适应 */
    height: auto; /* 保持纵横比 */
    max-width: 100%; /* 最大宽度为容器宽度 */
    max-height: 100%; /* 最大高度为容器高度 */
}
